@import 'nav';
@import 'top-area';
@import 'main-area';
// main styling //
body {
    width: 100%;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #4A4848;
    // display: flex;
    // justify-content: center;
}

.bold {
    font-weight: bold;
}