body{
    max-width: 800px;
    height: 1024px;
    width: 100%;
    background-color: #E5E5E5;
}
.container{
    width: 800px;
    height: 109px;
    background-color: aquamarine;
    display: flex;
    align-items: flex-start;
}
.logo{
    position: absolute;
    width: 190px;
    height: 62px;
    left: 97px;
    top: 29px;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 62px;
    /* identical to box height, or 258% */
    letter-spacing: 0.15em;
    color: #145967;
}
.nav-list{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #2F281E;
    font-size: 14px;
    line-height: 28px;
}
.page-foto{

}
.foto{
    max-width: 800px;
    min-height: 300px;
    width: 100%;
    margin-left: 150px;
    margin-top: 50px;
 }
.items{
    max-width: 800px;
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
}
.content{
    max-width: 400px;
    min-height: 400px;
    width: 100%;
    margin-left: 136px;
}
.Title{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 42px;
    /* identical to box height, or 86% */
    color: #145967;
}
.info{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* or 275% */
    color: #4A4848;
    flex-wrap: wrap;
    line-height: 20px
}
.input-field{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 275% */
    color: #4A4848;
    border-color: #bdc1c2;
    background-color: #72d2f0;
    margin-top: 30px;
    margin-left: 75px;
    cursor: pointer;
}
.input-field:hover{
    background-color: #c7e9f3;
}
.submit-btn{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    top: 65px;
    width: 100px;
    height: 38px;
    left: 80px;
    background: #F9BE28;
    border: none;
    border-radius: 40%;
}
.submit-btn:hover{
    background: #f5cd6a;
}
.side-bar{
    margin-left: 20px;
    max-width: 300px;
    min-height: 400px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* or 275% */
    color: #4A4848;
    flex-wrap: wrap;
    line-height: 15px;

}
.side-bar_title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #145967;
    line-height: 30px;
}

