body {
    /* width: 800px;
    height: 1200px; */
}

/* main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} */

/* div {
    margin: 20px;
} */

.grid_container {
    display: grid;
    grid-template-columns: (repeat(4, 1fr));
    grid-template-rows: (repeat(17,1fr));
    grid-gap: 15px;
    width: 85%;
    height: 80%;
}

.purple {
    background-color: purple;
    grid-row: 1 / 6;
    grid-column: 1 / 2;
}

.red {
    background-color: red;
    grid-row: 1 / 7;
    grid-column: 2 / 3;
}

.blue {
    background-color: blue;
    grid-row: 1 / 7;
    grid-column: 3 / 5;
}

.green {
    background-color: green;
    grid-row: 6 / 13;
    grid-column: 1 / 2;
}

.sage {
    background-color: seagreen;
    grid-row: 7 / 11;
    grid-column: 2 / 3;
}

.yellow {
    background-color: yellow;
    grid-row: 6 / 7;
    grid-column: 3 / 4;
}