body {
    width: 800px;
    height: 1200px;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* div {
    margin: 20px;
} */

.grid_container {
    display: grid;
    grid-template-columns: (repeat(4, 1fr));
    grid-template-rows: (repeat(17,1fr));
    grid-gap: 15px;
    width: 85%;
    height: 80%;
}

.purple {
    background-color: purple;
    grid-row: 1 / 6;
    grid-column: 1 / 2;
}

.red {
    background-color: red;
    grid-row: 1 / 7;
    grid-column: 2 / 3;
}

.blue {
    background-color: blue;
    grid-row: 1 / 7;
    grid-column: 3 / 4;
}

.green {
    background-color: green;
    width: 308px;
    height: 458px;
}

.sage {
    background-color: seagreen;
    width: 308px;
    height: 298px;
}

.yellow {
    background-color: yellow;
    width: 308px;
    height: 222px;
}